@charset "utf-8";



@font-face {
    font-family: 'titulo';
    src: url(../fontes/titulo/BebasNeue.otf) format(OpenType);
}

@font-face {
    font-family: 'corpo' ;
    src: url(../fontes/corpo/Segoe\ UI.ttf) format(TrueType);
}



:root {
    --font-titulo:'titulo',Arial, Helvetica, sans-serif;
    --font-corpo:'corpo',Arial, Helvetica, sans-serif;
}


* {
    font-family:var(--font-corpo);
    margin: 0px ;
    padding: 0px ;
}



body {
    width: 97vw;
    height: 96vh;
    background: url(../imagens/Img\ fundo\ alterado.png) ;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    h1 {
        color: red;
        font-family: var(--font-titulo);
        font-weight: lighter;
        font-size: 5.5vw;
        font-style: italic;
        margin: 8px 0px 70px 7vw;
    }


div {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 79vh;
    margin: auto; 
}
    main {
        padding: 20px 40px;
        color: rgb(0, 0, 0);
        padding: 60px;
    }
        h2 {
            font-size: 39px;
        }

        form {
            margin-bottom: 50px ;
        }
            .InputForm {
                width: 320px;
                height: 40px;
                padding: 15px;
                margin-top: 20px;      
            }
                ::placeholder {
                    font-size: 18px;
                }
        
        a#entrar {
            text-align: center;
            text-decoration: none ;
            background-color: black;
            margin: ;
            padding: 10px;
        }
            a#entrar:hover {
                text-decoration: none ;
            }

        a {
            text-decoration: none ;
        }
            a:hover {
                text-decoration: underline;
            }
        


